################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VajaCodeFirst/packages
/VajaCodeFirst/VajaCodeFirst/App_Data
/VajaCodeFirst/VajaCodeFirst/bin
/VajaCodeFirst/VajaCodeFirst/obj/Debug
/VajaCodeFirst/VajaCodeFirst/Content
/VajaCodeFirst/VajaCodeFirst/fonts
/VajaCodeFirst/VajaCodeFirst/Migrations
