@model DrugaMVC.Models.Student
@{
    ViewBag.Title = "TestRazorja";
}
<h1>Test razor sintakse</h1>
<ul>
    <li>Student ID: @Model.StudentId </li>
    <li>Ime:        @Model.StudentName</li>
    <li>Starost:    @Model.Age</li>
</ul>

